/* Generales (afectan a todos los objetos) */
body{
  boxsizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

header{
  text-align:center;
  min-height: 80px;
  background: #2a3947;
  color:#fff;
  padding: 20px;
}

label{
  display:block;
  padding:7px;
  border-radius:7px;
  cursor:pointer;
}

section{
  border: 2px solid #648ca4;
  border-radius: 3px;
  padding:10px;
  margin: 20px;
  background-color: #eae9ef;
  text-align:center;
  color: #293a52;
  display:0;
}

/* Espesificos (afectan a solo algunos obetos para hacer que se vean mejor) */
.my-button {
  width: 100%;
  display: block;
  margin-bottom: 5px;
  background-color: #4CAF50;
  border: none; 
  color: white;
  font-size:35px;
  padding: 40px 35px; 
  cursor: pointer; 
  border-radius: 5px; 
}

.my-button:hover {
  background-color: #46a049;
}

.my-button:active {
  background-color: #04AA6D;
}

.container{
  max-width:flex;
  margin:auto;
  padding: 20px;
  background-color:#ddd;
}

.introduccion{
  border: 2px solid #648ca4;
  border-radius: 3px;
  padding:10px;
  margin: 20px;
  background-color: #eae9ef;
  text-align:center;
  color: #293a52;
  display:0;
}

.titulo{
  font-size:35px;
}

.cuerpo{
  color:#8a9198;
  font-size:20px;
}


